@import url(https://fonts.googleapis.com/css?family=Orbitron);

#timer {
  background-color: black;
  width: 200px;
  margin: 20px auto;
  font-size: 200%;
  font-family: Orbitron;
  color: white;
  display: block;
  padding-left: 25px;
}
